/* main.main {
    margin-top: 115px;
}
 */
.main-title {
    color: var(--black);
    font-family: HelveticaNeueCyr;
    font-size: 24px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
    margin: 20px 0 40px 0;
}

.section-title {
    color: var(--black);
    font-family: HelveticaNeueCyr;
    font-size: 20px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
}

.top__title {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 30px;

    &-icon {
        width: 34px;
        height: 34px;
        min-width: 34px;
        max-width: 34px;
        min-height: 34px;
        max-height: 34px;
        object-fit: contain;

        img {
            width: 34px;
            height: 34px;
            min-width: 34px;
            max-width: 34px;
            min-height: 34px;
            max-height: 34px;
            object-fit: contain;
        }
    }

    .top__title {
        margin-top: 5px;

    }
}

.top {
    border: 1px solid #E4E4E4;
    padding: 25px;
    margin-bottom: 30px;

    &__content {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 30px;
        flex-wrap: wrap;
        margin-bottom: 30px;

        &__item {
            height: 90px;
            width: 205px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #F8F8F8;
            padding: 15px;

            p {
                color: var(--black);
                text-align: center;
                font-family: HelveticaNeueCyr;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
            }

            img {
                width: 85px;
                height: 33px;
                object-fit: contain;
            }
        }
    }

    &-text {
        color: var(--red);
        font-family: HelveticaNeueCyr;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }
}

.conditions {
    border: 1px solid #E4E4E4;
    padding: 25px;
    margin-bottom: 30px;

    ul {
        display: flex;
        flex-direction: column;
        gap: 15px;

        li {
            list-style: disc;
            margin-left: 24px;
            color: var(--black);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;

            &::marker {
                color: var(--red);
                font-size: 24px;
            }
        }
    }
}

.bottom {
    padding: 30px;
    border: 1px solid #E4E4E4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 33px;

    &-text{
        text-align: center;
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--red);
        gap: 10px;
        width: 260px;
        padding: 15px 30px;
        text-align: center;
        cursor: pointer;
        transition: 300ms;

        &:hover{
            background: var(--redhover);
        }


        p {
            color: #FFF;
            font-family: HelveticaNeueCyr;
            font-size: 14px;
            font-style: normal;
            font-weight: 550;
            line-height: 150%;
        }

        &-icon {
            width: 16px;
            height: 16px;
            margin-top: -3px;

            svg {
                width: 16px;
                height: 16px;
            }
        }
    }
}


@media (max-width: 1030px) {
    .top__content {
        display: grid;
        grid-template-columns: 1fr 1fr;

        &__item {
            width: 100%;
            height: 100px;
        }
    }
}

@media (max-width: 800px) {
    .main-title {
        margin: 20px 0 28px;
    }

    .top__content{
        margin-bottom: 25px;
    }
}

@media (max-width: 700px) {
    .main-title {
        font-size: 23px;
    }

    .section-title {
        font-size: 19px;
    }
}

@media (max-width: 620px) {
    .main-title {
        margin: 10px 0 24px;
        font-size: 22px;
    }

    .section-title {
        font-size: 18px;
    }

    .top__content {
        gap: 25px;
        margin-bottom: 20px;

        &__item {
            height: 90px;

            p {
                font-size: 15px;
            }
        }
    }

    .top__title-icon {
        width: 29px;
        height: 29px;
        min-width: 29px;
        max-width: 29px;
        min-height: 29px;
        max-height: 29px;

        img {
            width: 29px;
            height: 29px;
            min-width: 29px;
            max-width: 29px;
            min-height: 29px;
            max-height: 29px;
        }
    }

    .top {
        padding: 20px;

        &-text{
            font-size: 15px;
        }
    }

    .bottom {
        padding: 20px;
    }

    .conditions{
        padding: 20px;
    }

    .conditions ul li {
        font-size: 15px;
    }

}

@media (max-width: 520px) {}

@media (max-width: 450px) {
    .main-title {
        margin: 10px 0 25px;
        font-size: 21px;
    }

    .section-title {
        font-size: 17px;
    }

    .top__content {
        gap: 20px;

        &__item {
            height: 80px;

            p {
                font-size: 14px;
            }
        }
    }

    .top__title-icon {
        width: 24px;
        height: 24px;
        min-width: 24px;
        max-width: 24px;
        min-height: 24px;
        max-height: 24px;

        img {
            width: 24px;
            height: 24px;
            min-width: 24px;
            max-width: 24px;
            min-height: 24px;
            max-height: 24px;
        }
    }

    .top__title{
        gap: 15px;
    }

    .top {
        padding: 15px;

        &-text{
            font-size: 14px;
        }
    }

    .conditions{
        padding: 15px;
    }

    .bottom {
        padding: 20px 15px;
    }

    .conditions ul li {
        font-size: 14px;
    }

    .bottom__btn{
        width: 100%;
    }
}

@media (max-width: 400px) {
    .main-title {
        margin: 0px 0 25px;
        font-size: 20px;
    }

    .section-title {
        font-size: 16px;
    }

    .top__content{
        row-gap: 20px;
        column-gap: 16px;

        &__item{
            padding: 10px;
        }
    }

    .conditions ul li {
        font-size: 13px;
    }
}

@media (max-width: 350px) {}